@charset "UTF-8";
@import "./flex";
@import "./font";

view,input,text,scroll-view,swiper-item,swiper,image,label,radio-group{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
page{
  -webkit-overflow-scrolling: touch;
}
view{word-break:break-all;}
